SELF_VERSION=-
MONGO_URI=
DNS_SERVERS=8.8.8.8,4.4.4.4
JWT_SECRET=
SERVICE_BUS_CONNECTION_STRING=
USERS_URL=
PORT=3001
OPENWEATHER_API_KEY=
SCHEDULER_SYNCHRONIZE_STATIONS=
SCHEDULER_SYNCHRONIZE_STATIONS_DISABLED=
OPEN_WEATHER_MAP_URL=
OPEN_WEATHER_MAP_KEY=
